.markdown-body {
  font-family: "Roboto", sans-serif;
  color: red;
}

.markdown-body h1, h2, h3, h4, h5, h6 {
  font-family: "Lobster", cursive;
  color: blue;
}

.markdown-body a {
  color: yellow;
  text-decoration: none;
}

.markdown-body a:hover {
  color: gold;
  text-decoration: none;
}
